input, select {
  appearance: none;
  outline: none; }

.settings-container form {
  margin: 40px 40px;
  width: 400px;
  font-family: "Open Sans", helvetica, arial, sans-serif; }

.settings-container .label-note {
  font-size: 12px; }

.settings-container label {
  margin-right: 20px; }

.input {
  background: white;
  border: 1px solid #ccd1d5;
  border-radius: 5px;
  color: #57626b;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 14px;
  margin: 0 0 17px;
  outline: none;
  padding: 13px 13px;
  transition: border-color 0.15s cubic-bezier(0.33, 0, 0.2, 1);
  width: 100%; }
  .input.api-token {
    width: 93%; }
  .input.large {
    font-size: 18px;
    padding: 17px 13px; }
  .input:focus {
    border-color: #0092ff; }

select.input {
  height: 42px; }

h3.section-heading {
  color: #CCCCCC;
  border-bottom: 1px solid #CCCCCC; }

h3.section-heading:first-of-type {
  margin-top: 75px; }

input, select {
  appearance: none;
  outline: none; }

.settings-container form {
  margin: 40px 40px;
  width: 400px;
  font-family: "Open Sans", helvetica, arial, sans-serif; }

.settings-container .label-note {
  font-size: 12px; }

.settings-container label {
  margin-right: 20px; }

.input {
  background: white;
  border: 1px solid #ccd1d5;
  border-radius: 5px;
  color: #57626b;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 14px;
  margin: 0 0 17px;
  outline: none;
  padding: 13px 13px;
  transition: border-color 0.15s cubic-bezier(0.33, 0, 0.2, 1);
  width: 100%; }
  .input.api-token {
    width: 93%; }
  .input.large {
    font-size: 18px;
    padding: 17px 13px; }
  .input:focus {
    border-color: #0092ff; }

select.input {
  height: 42px; }

h3.section-heading {
  color: #CCCCCC;
  border-bottom: 1px solid #CCCCCC; }

h3.section-heading:first-of-type {
  margin-top: 75px; }
