# App artifacts
/_build
/db
/deps
/*.ez
.DS_store
priv/static/*hot-update.json
priv/static/*hot-update.js

# npm packages
/node_modules
npm-debug.log
dist
.env

#sensitive information
/config/prod.secret.exs
/config/dev.secret.exs
