// Borders
$border-radius: 5px;
// Colors
// $color-primary: #ed1c24;
$color-secondary: #0092ff;
$color-accent: #85919a;
$color-shade: #57626b;
$color-tint: #ccd1d5;
// $color-accent-shade: #7e94ad;
// $color-accent-tint: #d8dee3;
// $color-disable: #e0e0e0;
// $color-action: #f2442e;
// $color-success: #28BD00;
// $color-dark: #2d3237;
// $background-light: #f7f7f7;
// $background-dark: #DBE0E4;
// $background-tint: #E8ECEF;
// ​
// $gradient-dark: linear-gradient( 0deg, rgb(43,56,69) 0%, rgb(71,83,96) 100%);
// ​
// // Element Heights
// $height-feature: 210px;
// ​
// // Element Widths
// $width-sidebar: 400px;
// ​
// // Font Families
$font-primary: 'Open Sans', helvetica, arial, sans-serif;
// $font-secondary: "jaf-bernino-sans", Helvetica, Arial, "Lucida Grande", sans-serif;
// ​
// // Font Sizes
// $type-micro: 13px;
// $type-small: 14px;
 $type-base: 14px;
 $type-h6: 18px;
// $type-h5: 22px;
// $type-h4: 24px;
// $type-h3: 28px;
// $type-h2: 36px;
// $type-h1: 48px;
// ​
// // Font Weights
// $font-weight-regular: 400;
// $font-weight-semibold: 600;
// $font-weight-bold: 700;
// $font-weight-extrabold: 800;
// ​
// // We use these to style paragraphs
// $paragraph-font-family: inherit;
// $paragraph-font-weight: normal;
// $paragraph-font-size: $type-small;
// $paragraph-line-height: 1.4;
// $paragraph-text-rendering: optimizeLegibility;
// ​
// // Media Queries
// $screen: only screen;
// $screen-small: 30.000em;
// $screen-medium: 48.000em;
// $screen-large: 64.063em;
// $screen-xlarge: 128.000em;
// $screen-small-range: $screen, $screen-medium;         // 0, 640px
// $screen-medium-range: $screen-medium, $screen-large;  // 641px, 1024px
// ​
// // Padding/Margin Blocking
// $spacing-micro: 5px;
$spacing-small: 13px;
$spacing-medium: 17px;
// $spacing-large: 24px;
// $spacing-xlarge: 30px;
// $spacing-xxlarge: 42px;
// ​
// $color-black: #000;
// $color-white: #fff;
// $color-dark-grey: #A9A9A9;
// $color-light-grey: #D3D3D3;
// $color-brown: #5F3F35;
// $color-navy: #000080;
// $color-royal: #0000FF;
// $color-columbia-blue: #9BDDFF;
// $color-purple: #800080;
// $color-maroon: #B03060;
// $color-red: #FF0000;
// $color-cardinal: #BD2031;
// $color-pink: #FFC0CB;
// $color-gold: #FFFF00;
// $color-vegas-gold: #C5B358;
// $color-forest-green: #006400;
// $color-kelly-green: #008000;
// $color-texas-orange: #BF5700;
// $color-orange: #FFA500;
// ​
// // Transition
$bezier: cubic-bezier(.33, 0, .2, 1);
// ​
// // Z-index
// $level-1: 100;
// $level-2: 200;
// $level-99: 9999;
